bootrom
/Makefrag.pkgs
target
*.jar
*.stamp
/vsim
/verisim/generated-src*
/verisim/simulator-*
/verisim/verilator
simv*
*.vcd
.DS_Store
results/*
!results/.gitkeep
.idea/
test_run_dir/
verisim/DVEfiles/
verisim/opendatabase.log
memdata/*
!memdata/.gitkeep
benchmark-data/*
!benchmark-data/.gitkeep
